/* COLORS
/* ---------------------------------------------------------- */
$color__off-white: #FFFAF1;

/* Ember Orange */
$theme-color__orange-light: #FF9684;
$theme-color__orange-medium: #FF5538;
$theme-color__orange-dark: #cc442d;

/* Theme Colors */
$theme-color__primary-1-light: #ACB7F8;
$theme-color__primary-1-medium: #42465F;
$theme-color__primary-1-dark: #1F254A;

$theme-color__secondary-1-light: #71D9A9;
$theme-color__secondary-1-medium: #ACD1C0;
$theme-color__secondary-1-dark: #2B5140;

$theme-color__primary-2-light: #91564D;
$theme-color__primary-2-medium: #451710;
$theme-color__primary-2-dark: #2B0F0B;

$theme-color__secondary-2-light: #F8AEAE;
$theme-color__secondary-2-medium: #F7F7F7;
$theme-color__secondary-2-dark: #C4C4C4;

$font-color__primary: #1C1C1D;
$background-color__primary: $color__off-white;


/* FONTS
/* ---------------------------------------------------------- */

/*
* Target the system fonts first (http://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/)
* then provide similar fallbacks
*/
$font-family-stack:
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Oxygen',
      'Ubuntu',
      'Cantarell',
      'Fira Sans',
      'Droid Sans',
      Avenir,
      Geneva,
      Tahoma,
      san-serif;


/* Sizes
/* ---------------------------------------------------------- */
$width__button--sm: 4rem;
$width__button--md: 7rem;
$width__button--lg: 12rem;

$height__button--sm: 2rem;
$height__button--md: 3rem;
$height__button--lg: 5rem;
