@import 'variables';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color__primary;
  color: $font-color__primary;
  font-family: $font-family-stack;
}

ol > li,
ul > li {
  line-height: 1.75;
}

/* TODO: Ideally, we can have our base components/patterns in their own importable _x.scss partials */
.button {
  display: inline-block;
  padding: 0.7em 1.2em;
  border-radius: 0.25em;
  color: $theme-color__primary-1-dark;
  border: 1px solid;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.35);
  border-color: $theme-color__orange-light;
  border-top-color: $theme-color__orange-light;
  border-bottom-color: $theme-color__orange-dark;
  background-image: linear-gradient(to bottom, $theme-color__orange-light, $theme-color__orange-medium);
}

.colset {
  position: absolute;
  width: 100%; height: 100%;
  display: flex;
}

.column {
  box-sizing: border-box;
  width: 50%;
  overflow: scroll;
}

.column + .column {
  border-left: 1px solid #000;
}

.content {
  padding: 0.5em 0.8em;
}

.hero-section {
  height: 13rem;
  background-color: $theme-color__secondary-1-light;
  color: $theme-color__primary-1-medium;
  position: relative;
}

.hero-section__heading {
  color: $theme-color__primary-1-medium;
}

.hero-section__nav-menu {
  position: absolute;
  bottom: 0;
  width: calc(100% - (10px * 2));
}

.hero-section__nav-list {
  position: relative;
  width: 100%;
  list-style-type: none;
  height: 4rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero-section__nav-item {
  flex: 1;
}

.hero-section__nav-link {
  text-decoration: none;
  color: $theme-color__primary-1-medium;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 2.25;
}
/* less contrast is needed for larger fonts */
h1, h2, h3 {
  color: $theme-color__orange-medium;
}
/* more contrast is needed for smaller fonts */
h4, h5, h6 {
  color: $theme-color__orange-dark;
}


.focusing-outlet:focus {
  outline: $theme-color__primary-1-dark auto 0.25em;
}

.content {
  padding: 0 10px;
}

.overflow-container {
  position: relative;
  overflow: auto;
}


@import 'gh-fork-ribbon';

//.github-fork-ribbon { right: 50%; }


@import 'layouts/find-friends';
