<h2 id="title">Welcome to Ember</h2>

{{#link-to 'index'}}index{{/link-to}}
{{#link-to 'foo.a'}}foo/a{{/link-to}}
{{#link-to 'foo.a.one'}}foo/a/one{{/link-to}}
{{#link-to 'foo.b'}}foo/b{{/link-to}}
{{#link-to 'bar.a'}}bar/a{{/link-to}}
<br />
application
{{focusing-outlet}}
