<h1>Social Network</h1>
<nav>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'messages'}}Messages{{/link-to}}</li>
    <li>{{#link-to 'feed'}}Feed{{/link-to}}</li>
    <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
  </ul>
</nav>
{{focusing-outlet}}
