<section class="content overflow-container">
  <h2>Friends</h2>
  <div class="page-section">
    Big Section
  </div>
  {{#link-to 'friends.find'}}Find Friends{{/link-to}}
  <div class="page-section">
    Big Section
  </div>
  {{focusing-outlet}}
</section>
