<h2>John Doe</h2>
<p>John Doe is a developer at BigCo</p>
<h3>Summary</h3>
<ul role="group">
  <li>this is a detail about John Doe</li>
  <li>this is a detail about John Doe</li>
  <li>this is a detail about John Doe</li>
</ul>
<h3>Education</h3>
<p>John Doe is well-educated.</p>
<h3>Skills</h3>
<p>John Doe has no skills.</p>
