<div>
  <h2>Jennison Ascunsion</h2>
  <p>Jennison is a developer at LinkedIn</p>
  <h3>Summary</h3>
  <ul role="group">
    <li>this is a detail about Jennison</li>
    <li>this is a detail about Jennison</li>
    <li>this is a detail about Jennison</li>
  </ul>
  <h3>Education</h3>
  <p>Jennison is well-educated.</p>
  <h3>Skills</h3>
  <p>Jennison has no skills.</p>
</div>
