<div>
<h2>Messages</h2>
<ul role="group">
  <li>{{#link-to "messages.message" "Jimmy"}}Conversation with Jimmy{{/link-to}}</li>
  <li>{{#link-to "messages.message" "Johnny"}}Conversation with Johnny{{/link-to}}</li>
  <li>{{#link-to "messages.message" "Jeff"}}Conversation with Jeff{{/link-to}}</li>
</ul>
</div>