<div>
<h2>Messages in thread</h2>
{{#link-to "messages"}}Back to message list.{{/link-to}}
<ul role="group">
  <li>This is a message content.</li>
  <li>This is a message content.</li>
  <li>This is a message content.</li>
  <li>This is a message content.</li>
</ul>
</div>